.about-section {
    padding-top: 40px; /* Mantemos apenas um padding no topo para separar da seção Home */
    background-color: #fff;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #333;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #8A2BE2;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
    color: #666;
  }
  
  .about-image-container {
    position: relative;
    padding: 15px;
    border: 2px solid #e0e0e0;
  }
  
  .about-image-container::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid #e0e0e0;
  }
  
  .about-section .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #333;
  }
  
  .about-section .content p {
    line-height: 1.6;
  }
  
  .about-section .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-section .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about-section .content ul strong {
    margin-right: 10px;
  }
  .fade-in{
    animation: fadeIn 1s ease-in-out !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}