.contain-content-bio {
    position: relative;
    height: auto !important;
    background-color: white;
    margin: 0 !important;
    max-height: 750px !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column !important;
    gap: 2em;
    align-items: flex-start;
    align-self: flex-start;
    border-radius: 7px;
    padding: 27px;

    background-color: #fff;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
}

.Bio_Title h1 {
    font-family: "Jost", sans-serif;
    font-size: 1.5em !important;
    font-weight: 500;
    padding-bottom: 6px;
    border-bottom: blue 2px solid;
    border-radius: 1px;
}

.Bio_Paragraph p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    color: #777;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.Bio_Tags_Row {
    display: flex;
}

.Bio_Tags {
    display: flex;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: normal;
    margin-right: 10px;
    gap: 20px;
    flex-wrap: wrap;
    width: 70%;
}

.Bio_Tags span {
    background-color: #eee;
    border-radius: 4px;
    padding: 5px 25px;
    display: inline-block;
    white-space: nowrap;
    max-width: fit-content;
}

.container {
    max-width: unset !important;
}

@media (max-width:480px) {
    .Bio_Tags {
        display: flex;
        font-family: "Jost", sans-serif;
        font-size: 16px;
        color: #777;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: normal;
        margin-right: 10px;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
}