@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.about-section {
  padding-top: 40px;
  background-color: #fff;
}

/* .main-content-container {
    padding: 0 !important;
  } */
.text-muted {
  display: flex;
  align-self: flex-start;
  color: #666 !important;
  font-size: 2em;
  font-family: "Jost", sans-serif;
}

.text-animated {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
}

.type-animation {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  font-size: 3em;
  color: black;
  font-family: "Jost", sans-serif;
}

.contain-content {
  position: relative;
  height: 100vh !important;
  background-color: white;
  margin: 0 !important;
  max-height: 750px !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: row !important;
  gap: 1.2em;
  align-items: flex-start;
  align-self: flex-start;
}

.Circle_img {
  position: relative;
  margin-left: 1.5em;

}

.profile-image-hero {
  width: 150px;
  height: 150px;
  object-fit: cover;
  z-index: 11 !important;
}

.blue_circle span {
  position: absolute;
  width: 170px;
  height: 170px;
  top: -20px;
  right: 0px;
  left: -5px;
  bottom: 15px;
  background-color: var(--mc);
  z-index: -11 !important;
  border-radius: 100%;
  color: rgba(52, 82, 255, 0.1);
}

.red_circle span {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 1px;
  right: 0px;
  left: -15px;
  bottom: 15px;
  background-color: red;
  z-index: -9 !important;
  border-radius: 100%;
  color: rgba(244, 23, 23, 0.994);

}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
}

.lines :nth-child(2) {
  left: 52%;
  top: -30%;
}

.lines :nth-child(3) {
  left: 66%;
  top: -33%;
}

.lines span {
  width: 4px;
  height: 160%;
  display: block;
  background: -moz-linear-gradient(180deg, var(--mc) 50%, rgba(211, 165, 131, 1) 50%, rgba(211, 165, 131, 1) 100%);
  background: -webkit-linear-gradient(180deg, var(--mc) 50%, rgba(211, 165, 131, 1) 50%, rgba(211, 165, 131, 1) 100%);
  background: linear-gradient(180deg, var(--mc) 50%, rgba(211, 165, 131, 1) 50%, rgba(211, 165, 131, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3452ff", endColorstr="#d3a583", GradientType=1);
  transform: rotate(30deg);
  z-index: 11 !important;
  position: absolute;
  top: -28%;
  left: 40%;
}

.left_hero_header {
  display: flex;
}

.right_hero_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #333;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #8A2BE2;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  color: #666;
}

.home-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.5em;
}

.about-image-container {
  position: relative;
  padding: 15px;
  border: 2px solid #e0e0e0;
}

.about-image-container::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #e0e0e0;
}

.about-section .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #333;
}

.about-section .content p {
  line-height: 1.6;
}

.about-section .content ul {
  list-style: none;
  padding: 0;
}

.about-section .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-section .content ul strong {
  margin-right: 10px;
}

.fade-in {
  animation: fadeIn 1s ease-in-out !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}